.videoRow__linkWrapper {
    display:flex;
    margin-bottom: 30px;
    max-width: 700px;
}

.videoRow__linkWrapper > img {
    object-fit: contain;
    width: 246px;
    height: 138px;
}

.videoRow__headline {
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

.videoRow__text{
    margin-left: 15px;
}

a:link { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
} 
